<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myles.projecto" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.se1.gruppe2.projecto.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.se1.gruppe2.projecto.EventsList"
            android:label="@string/title_activity_events_list"
            android:parentActivityName="com.se1.gruppe2.projecto.MainActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se1.gruppe2.projecto.MainActivity" />
        </activity>
        <activity
            android:name="com.se1.gruppe2.projecto.SessionList"
            android:label="@string/title_activity_session_list"
            android:parentActivityName="com.se1.gruppe2.projecto.myEvents"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se1.gruppe2.projecto.myEvents" />
        </activity>
        <activity
            android:name="com.se1.gruppe2.projecto.SessionView"
            android:label="@string/title_activity_session_view"
            android:parentActivityName="com.se1.gruppe2.projecto.SessionList"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se1.gruppe2.projecto.SessionList" />
        </activity>
        <activity
            android:name="com.se1.gruppe2.projecto.myEvents"
            android:label="@string/title_activity_my_events"
            android:parentActivityName="com.se1.gruppe2.projecto.MainActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.se1.gruppe2.projecto.MainActivity" />
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

</manifest>
